:root {
    --bg: #fff;
    --bg2: #F9F9F9;
    --bg3: #EFF9FE;
    --card: #0089CF;
    --text: #000;
    --text2: #fff;
    --accent: #195BA6;
}

body,
html {
    margin: 0;
    font-family: 'Pretendard', sans-serif;
    scroll-padding-top: 100px;
}

header nav.container {
    padding: 0.2rem 18%;
    max-width: 100%;
    box-sizing: border-box;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
    box-sizing: border-box;
}

#int {
    background: url("/public/images/b_04_about.jpg") no-repeat center center/cover;
    color: var(--text);
    text-align: left;
    padding: 0px 18% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    margin-top: 80px;
}

#intro, #ceo, #location {
    background-color: var(--bg);
}

#intro p:first-of-type {
    padding-top: 0;
    font-size: 40px;
    font-weight: 700;
}

#intro p:nth-of-type(2) {
    padding-top: 0;
    font-size: 19px;
    font-weight: 400;
    padding-bottom: 80px;
}

#intro #card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 16px;
    margin-top: 100px;
}

#intro .card {
    background-color: var(--card);
    width: 376px;
    height: 256px;
    border-radius: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro .card img {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}

#intro .card p {
    margin: 6px 0;
    text-align: center;
    font-size: 32px;
    color: var(--text2);
}

@media (max-width: 1425px) {
    #intro .card {
        width: 31%;
        height: 200px;
    }

    #intro .card img {
        width: 80px;
        height: 80px;
    }

    #intro .card p {
        font-size: 26px;
    }
}

@media (max-width: 700px) {
    #intro p:first-of-type {
        font-size: 26px;
    }

    #intro p:nth-of-type(2) {
        font-size: 14px;
        padding-bottom: 32px;
    }

    #intro #card {
        gap: 8px;
    }

    #intro .card {
        width: 31%;
        height: 140px;
    }

    #intro .card img {
        width: 56px;
        height: 56px;
    }

    #intro .card p {
        font-size: 20px;
    }
}

.mobileb-only {
    display: none;
}

.mobileb-only2 {
    display: none;
}

@media (max-width: 553px) {
    .mobileb-only {
        display: inline;
    }
}

@media (max-width: 404px) {
    #intro .card p {
        font-size: 16px;
    }
}

@media (max-width: 379px) {
    #intro .card p {
        font-size: 14px;
    }

    .mobileb-only2 {
        display: inline;
    }
}

/*------ceo------*/
.p1 {
    padding-top: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

#ceo .p1 {
    color: var(--accent);
}

.p2 {
    padding-top: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
}

.p3 {
    padding-top: 10px;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
}

.p3 span {
    padding-left: 24px;
    font-size: 41px;
    font-weight: 400;
    font-family: 'ROEHOECHAN';
    line-height: 1.4;
}

.mobilep-only {
    display: none;
}

@media (max-width: 1133px) {
    .mobilep-only {
        display: inline;
    }

    .mobilep-only2 {
        display: none;
    }
}

@media (max-width: 700px) {
    .p1 {
        font-size: 26px;
    }

    .p2 {
        font-size: 18px;
    }

    .p3 {
        padding-top: 0;
        font-size: 14px;
    }

    .p3 span {
        padding-left: 10px;
        font-size: 28px;
    }
}

@media (max-width: 450px) {
    .p2 {
        font-size: 16px;
    }

    .mobilep-only {
        display: none;
    }

    .mobilep-only3 {
        display: none;
    }
}

/*------map------*/
.map-container {
    display: flex;
    align-items: stretch;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
}

#map {
    width: 600px;
    height: 300px;
    border-radius: 16px;
}

.map-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 1.4;
}

.map-info h3 {
    font-size: 20px;
    margin-bottom: 24px;
}

.map-info p {
    margin: 0;
}

.map-info button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: var(--accent);
    color: var(--text2);
    border-radius: 16px;
    border-style: none;
    font-size: 16px;
    font-weight: 400;
}

.map-info button:hover {
    background-color: var(--card);
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    #map {
        width: 100%; 
        height: 300px; 
    }

    .map-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .map-info {
        font-size: 14px;
    }

    .map-info button {
        font-size: 14px;
}
}