.up-btn {
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin: 10px auto 0;
  background-color: #ccc;
  color: var(--text);
  border: none;
  border-radius: 999px;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  z-index: 3000;
}

.up-btn img {
  width: 2.5rem;
}

.contact-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin: 10px auto 0;
  background-color: #ffd166;
  border: none;
  border-radius: 999px;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  z-index: 3000;
}

.contact-btn img {
  width: 2.5rem;
}

@media (max-width: 800px) {
  .up-btn {
    margin: 6px auto 0;
    bottom: 88px;
  }

  .up-btn img {
    width: 1.2rem;
  }

  .contact-btn {
    margin: 6px auto 0;
  }

  .contact-btn img {
    width: 1.2rem;
  }
}