:root {
    --bg: #fff;
    --bg2: #F9F9F9;
    --bg3: #EFF9FE;
    --card: #0089CF;
    --text: #000;
    --text2: #fff;
    --accent: #195BA6;
}

body,
html {
    margin: 0;
    font-family: 'Pretendard', sans-serif;
    scroll-padding-top: 100px;
}

header nav.container {
    padding: 0.2rem 18%;
    max-width: 100%;
    box-sizing: border-box;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}

#int {
    background: url("/public/images/b_03_corporate.jpg") no-repeat center center/cover;
    color: var(--text);
    text-align: left;
    padding: 0px 18% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    margin-top: 80px;
}

#intro, #lab, #iso {
    background-color: var(--bg);
}

#venture {
    background-color: var(--bg3);
}

/*------intro------*/
#intro p:first-of-type {
    padding-top: 0;
    font-size: 40px;
    font-weight: 700;
}

#intro p:nth-of-type(2) {
    padding-top: 0;
    font-size: 19px;
    font-weight: 400;
    padding-bottom: 80px;
}

#intro #card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 16px;
}

#intro .card {
    background-color: var(--card);
    width: 376px;
    height: 256px;
    border-radius: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro .card img {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}

#intro .card p {
    margin: 6px 0;
    text-align: center;
    font-size: 32px;
    color: var(--text2);
}

@media (max-width: 1425px) {
    #intro .card {
        width: 31%;
        height: 200px;
    }

    #intro .card img {
        width: 80px;
        height: 80px;
    }

    #intro .card p {
        font-size: 26px;
    }
}

@media (max-width: 700px) {
    #intro p:first-of-type {
        font-size: 26px;
    }

    #intro p:nth-of-type(2) {
        font-size: 14px;
        padding-bottom: 32px;
    }

    #intro #card {
        gap: 8px;
    }

    #intro .card {
        width: 31%;
        height: 140px;
    }

    #intro .card img {
        width: 48px;
        height: 48px;
    }

    #intro .card p {
        font-size: 20px;
    }
}

@media (max-width: 404px) {
    #intro .card p {
        font-size: 16px;
    }
}

/*------lab venture iso------*/

#lab #card, #venture #card, #iso #card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    box-sizing: border-box;
}

.title {
    flex: 1;
    min-width: 282px;
}

.detail {
    flex: 3;
}

.title hr {
    border: var(--card) 2px solid;
}

.title .p1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 24px;
}

.detail hr {
    border: #008acf7e 0.75px solid;
    margin-top: 10px;
}

.detail .p2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 32px;
}

.detail .p3 {
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 16px;
}

.detail .p4 {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    background-color: var(--bg3);
    padding: 1rem;
}

.detail .p5 {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    background-color: var(--bg);
    padding: 1rem;
}

.detail img {
    display: block;
    margin-left: auto;
    margin-top: 20px;
}

#img_lab { width: 133px; height: 80px; }
#img_kosme { width: 192px; height: 40px; }
#img_inn { width: 176px; height: 40px; }
#img_main { width: 152px; height: 60px; }
#img_iso9001 { width: 133px; height: 130px; }
#img_iso14001 { width: 133px; height: 130px; }

.posi {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.posi p {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    font-size: 17px;
    line-height: 1;
    margin: 0;
}

.posi p::before {
    content: "✔";
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: var(--card) 3px solid;
    color: var(--card);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

@media (max-width: 1000px) {
    #lab #card, #venture #card, #iso #card {
        flex-direction: column;
        gap: 0;
    }

    .title {
        width: 100%;
    }

    .detail {
        width: 100%;
    }
}

@media (max-width: 700px) {
    #img_lab { width: 100px; height: 56px; }
    #img_kosme { width: 140px; height: 32px; }
    #img_inn { width: 140px; height: 32px; }
    #img_main { width: 124px; height: 48px; }
    #img_iso9001 { width: 100px; height: 96px; }
    #img_iso14001 { width: 100px; height: 96px; }

    .title .p1 {
        font-size: 22px;
        margin-top: 12px;
    }

    .detail hr {
        border: #008acf7e 0.75px solid;
        margin-top: 10px;
    }

    .detail .p3 {
        font-size: 14px;
        margin-top: 16px;
    }

    .detail .p2 {
        font-size: 18px;
        margin-top: 28px;
        margin-bottom: 16px;
    }
    
    .detail .p3, .detail .p4, .detail .p5 {
        font-size: 14px;
    }

    .posi {
        margin-top: 10px;
    }

    .posi p {
        gap: 4px;
        font-size: 14px;
    }

    .posi p::before {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: var(--card) 2px solid;
        font-size: 14px;
    }
}