@font-face {
  font-family: 'KoPubWorldDotum';
  src: url('../fonts/KoPubWorldDotum-Light.woff2') format('woff2'),
    url('../fonts/KoPubWorldDotum-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KoPubWorldDotum';
  src: url('../fonts/KoPubWorldDotum-Medium.woff2') format('woff2'),
    url('../fonts/KoPubWorldDotum-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KoPubWorldDotum';
  src: url('../fonts/KoPubWorldDotum-Bold.woff2') format('woff2'),
    url('../fonts/KoPubWorldDotum-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #185aa5;
  padding: 0.6rem 0;
  background-color: #fff;
}

header nav.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center; 
  gap: 0.6rem; 
  text-decoration: none;
  color: #185aa5;
  font-family: 'KoPubWorldDotum', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}

#log {
  height: 50px;
  display: block;
}

.navlinks {
  display: flex; 
  flex-direction: row;
  gap: 3rem;
  margin-left: auto; 
  position: static;
  height: auto;
  background: none;
}

.navlinks.show {
  display: flex;
}

.navlinks a {
  color: #000;
  text-decoration: none;
  font-family: 'KoPubWorldDotum', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.navlinks a:hover {
  color: #185aa5;
}

.hamburger {
  display: block;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #185aa5;
  z-index: 210; 
  margin-left: auto;
}

.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  color: #185aa5;
  text-align: center;
  font-family: 'KoPubWorldDotum', sans-serif;
  font-weight: 700;
  border-top: 1px solid #185aa5;
}

.footer1 span {
  font-size: 12px;
}

#footer2 {
    background-color: #000;
    color: #fff;
    padding: 50px 20%;
    font-family: 'KoPubWorldDotum', sans-serif;
    font-weight: 400;
    border-top: 1px solid #444;
}

#footer2 h1 {
  font-size: 1.3rem;
  font-weight: 700;
}

#footer2 span {
  font-size: 12px;
  color: #ccc;
}

@media (min-width: 769px) {
  .navlinks {
    display: flex;
    position: static;
    flex-direction: row;
    height: auto;
    background: none;
    gap: 3rem;
     margin-left: auto;
  }

  .hamburger {
    display: none;
  }

  .navlinks a {
    font-size: 20px;
    color: #000;
    border: none;
  }
}

@media (max-width: 768px) {
  .navlinks {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    background: #003663;
    z-index: 200;
    padding: 3rem 0;
    box-sizing: border-box;
  }

  .navlinks.show {
    display: flex;
  }

  .navlinks { --item-gap: 10px; --separator-color: #444c53; --separator-height: 1px; }

  .navlinks a {
    display: block;
    width: 100%;
    padding: 0rem 1.5rem 0rem;
    text-align: left;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
  }

  .navlinks a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: var(--separator-height);
    background: var(--separator-color);
    top: 50px;
    pointer-events: none;
  }

  .navlinks a:last-child {
    margin-bottom: 0;
  }
  .navlinks a:last-child::after {
    display: none;
  }

  .hamburger {
    display: block !important;
  }

  #footer2 {
    padding: 2rem 20px;
  }

  #footer2 h1 {
    font-size: 1rem;
  }

  #footer2 {
    font-size: 0.8rem;
  }

  #footer2 span {
    font-size: 12px;
  }
}
