:root {
  --bg: #ffffff;
  --text: #000000;
  --google: #003663;
  --naver: #03c75a;
  --btn: #185aa5;
}

body {
  margin: 0;
  font-family: 'KoPubWorldDotum', sans-serif;
  background: var(--bg);
  color: var(--text);
}

header nav.container {
  padding: 0.2rem 18%;
  max-width: 100%;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64vh;
}

.login-container {
  padding: 40px 30px;
  text-align: center;
  width: 400px;
}

.login-container h1 {
  margin-bottom: 16px;
  font-size: 32px;
}

.login-container p {
  margin-bottom: 24px;
  color: #666;
  font-size: 20px;
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.login-btn {
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  width: 100%;
}

.login-btn.google {
  background-color: var(--google)
}

.login-btn.naver {
  background-color: var(--naver)
}

.container {
  width: min(1200px, 92vw);
  margin: 0 auto;
}

@media (max-width: 768px) {
  #int {
    height: 28vh;
  }

  #int h1 {
    font-size: 2rem;
  }

  #int p {
    font-size: 1rem;
    margin-top: 4rem;
  }

  main {
    padding: 60px 20px;
  }

  .login-btn {
    font-size: 16px;
  }
}