:root {
  --bg: #ffffff;
  --text: #000000;
  --google: #003663;
  --naver: #03c75a;
  --btn: #185aa5;
}

body {
  margin: 0;
  font-family: 'KoPubWorldDotum', sans-serif;
  background: var(--bg);
  color: var(--text);
}

header nav.container {
    padding: 0.8rem 10%; 
    max-width: 100%;
    box-sizing: border-box;
}

#int {
    width: 100%;
    height: 40vh;
    max-width: none;
    margin: 0;
    padding-top: 35px;
    box-sizing: border-box;
    background-image: url('/public/images/int01.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

#int>#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#int p {
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0.3rem;
}

#int h1 {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    margin-top: 0;
}

.up-btn {
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin: 10px auto 0;
  background-color: #ccc;
  color: var(--text);
  border: none;
  border-radius: 999px;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  z-index: 3000;
}

.up-btn img{
  width: 2.5rem;
}

.contact-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin: 10px auto 0;
  background-color: #ffd166;
  border: none;
  border-radius: 999px;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  z-index: 3000;
}

.contact-btn img{
  width: 2.5rem;
}

main {
  display: flex;
  justify-content: center;
}

.login-container {
  padding: 40px 30px;
  text-align: center;
  width: 400px;
}

.login-container h1 {
  margin-bottom: 16px;
  font-size: 32px;
}

@media (max-width: 768px) {
  .login-container h1 {
    font-size: 26px;
  }

}

.login-container p {
  margin-bottom: 24px;
  color: #666;
  font-size: 20px;
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.login-btn {
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  width: 100%;
}

.login-btn.google { background-color: var(--google) }
.login-btn.naver { background-color: var(--naver) }

.container {
  width: min(1200px, 92vw);
  margin: 0 auto;
}