:root {
  --bg: #fff;
  --bg2: #F9F9F9;
  --bg3: #EFF9FE;
  --card: #0089CF;
  --text: #000;
  --text2: #fff;
  --accent: #195BA6;
}

body,
html {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  scroll-padding-top: 100px;
}

header nav.container {
  padding: 0.2rem 18%;
  max-width: 100%;
  box-sizing: border-box;
}

#int {
  background: url("/public/images/b_01_home.jpg") no-repeat center center/cover;
  color: var(--text);
  text-align: left;
  padding: 0px 18% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 640px;
  margin-top: 80px;
}

#int p:first-of-type {
  margin-top: 0;
  font-size: 48px;
  line-height: 1.4;
  font-weight: 600;
}

#int p:nth-of-type(2) {
  font-size: 20px;
  margin-top: 0;
  line-height: 1.4;
}

#int .btn {
  display: inline-block;
  margin-top: 30px;
  background-color: var(--accent);
  color: var(--text2);
  padding: 12px 24px;
  border-radius: 95px;
  font-size: 19px;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
  width: 144px;
}

#int .btn:hover {
  background-color: var(--card);
}


@media (max-width: 1008px) {
  #int {
    padding: 0px 12% 0;
    height: 500px;
  }

  #int p:first-of-type {
    font-size: 28px;
  }

  #int p:nth-of-type(2) {
    font-size: 18px;
  }

  #int .btn {
    margin-top: 10px;
    border-radius: 95px;
    font-size: 16px;
    width: 120px;
  }
}

@media (max-width: 760px) {
  #int {
    position: relative;
    overflow: hidden;
  }

  #int::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
  }

  #int * {
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 480px) {
  #int {
    padding: 0px 12% 0;
    height: 400px;
  }

  #int p:first-of-type {
    font-size: 24px;
  }

  #int p:nth-of-type(2) {
    font-size: 14px;
  }

  #int .btn {
    margin-top: 10px;
    border-radius: 95px;
    font-size: 12px;
    width: 90px;
  }
}

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main.container>div {
  width: 100%;
  padding: 60px 0;
}

#good {
  background-color: var(--bg);
}

#why,
#how {
  background-color: var(--bg2);
}

#services-main {
  background-color: var(--bg3);
}

main.container #card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/*------good------*/
#good p {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}

#good p span {
  color: var(--accent);
}

#good .card {
  background-color: var(--card);
  width: 383px;
  height: 282px;
  border-radius: 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin: 60px 0;
}

#good .card img {
  width: 90px;
  height: 100px;
  margin-bottom: 4px;
}

#good .card p {
  margin: 6px 0;
  text-align: center;
}

#good .card p:first-of-type {
  padding-top: 0;
  font-size: 32px;
  font-weight: 700;
  color: var(--text2);
}

#good .card p:nth-of-type(2) {
  font-size: 20px;
  font-weight: 400;
  color: var(--text2);
}

.mobile-only2 {
  display: none;
}

@media (max-width: 860px) {
  .mobile-only2 {
    display: inline;
  }

  main.container #card {
    gap: 10px;
  }

  #good p {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
  }

  #good p span {
    color: var(--accent);
  }

  #good .card {
    width: 184px;
    height: 140px;
  }

  #good .card img {
    width: 72px;
    height: 80px;
    margin-bottom: 4px;
  }

  #good .card p:first-of-type {
    font-size: 20px;
  }

  #good .card p:nth-of-type(2) {
    font-size: 14px;
  }
}

/*------why------*/
#why p {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}

#why p span {
  color: var(--accent);
}

#why .card {
  background-color: var(--bg);
  border-radius: 16px;
  width: 280px;
  height: 232px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
}

#why .card img {
  width: 80px;
  height: auto;
}

#why .card p {
  font-size: 24px;
  text-align: left;
}

#why .arrow {
  width: 65px;
}

#why .card2 {
  background-color: var(--bg3);
  border-radius: 16px;
  padding: 10px;
  margin-top: 16px;
  margin-bottom: 40px;
}

#why .card2 p {
  font-size: 32px;
  font-weight: 700;
}

#why .card2 span {
  color: var(--accent);
}

@media (max-width: 655px) {
  #why p {
    font-size: 24px;
  }

  #why .card {
    width: 176px;
    height: 160px;
  }

  #why .card img {
    width: 72px;
    height: auto;
  }

  #why .card p {
    font-size: 16px;
    text-align: left;
  }

  #why .arrow {
    width: 48px;
  }

  #why .card2 p {
    font-size: 16px;
  }
}

/*-------services-main-------*/
#services-main .p1 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 700;
  padding-bottom: 30px;
}

#services-main .p1 span {
  color: var(--accent);
}

#services-main .p2 {
  font-size: 32px;
  line-height: 0.5;
  font-weight: 700;
}

#services-main .p3 {
  font-size: 19px;
  line-height: 0;
  font-weight: 400;
  padding-bottom: 40px;
}

#services-main .card {
  background-color: var(--bg);
  padding-bottom: 40px;
  margin-bottom: 80px;
  border-radius: 16px;
  text-align: left;
}

#services-main .card img {
  width: 384px;
  height: 276px;
  border-radius: 16px 16px 0 0;
}

#services-main .card p:first-of-type {
  padding: 30px 0 0 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 0;
}

#services-main .card p:nth-of-type(2) {
  padding: 0 0 0 28px;
  font-size: 19px;
  font-weight: 400;
}

#services-main a {
  padding: 0 0 16px 28px;
  font-size: 19px;
  font-weight: 700;
}

#services-main a#move {
  display: inline-block;
  margin-top: 19px;
  font-weight: 700;
  color: var(--accent);
  text-decoration: none;
}

#services-main a#move:hover {
  text-decoration: underline;
}

.mobile-only3 {
  display: none;
}

@media (max-width: 800px) {
  .mobile-only3 {
    display: inline;
  }

  #services-main .p1 {
    font-size: 24px;
  }

  #services-main .p2 {
    font-size: 20px;
  }

  #services-main #p2 {
    margin-top: 80px;
  }

  #services-main .p3 {
    font-size: 12px;
    line-height: 1.2;
  }

  #services-main .card {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  #services-main .card img {
    width: 296px;
    height: 200px;
  }

  #services-main .card p:first-of-type {
    font-size: 16px;
  }

  #services-main .card p:nth-of-type(2) {
    font-size: 12px;
  }

  #services-main a {
    font-size: 12px;
  }
}