<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>성진글로벌 경영지원 서비스</title>
    <link rel="stylesheet" href="/public/css/font.css">
    <link rel="stylesheet" href="/public/css/btn.css">
    <link rel="stylesheet" href="/public/css/headerfooter.css">
    <link rel="stylesheet" href="/public/css/corporate.css">
</head>

<body>
    <div id="header"></div>

    <div id="int">
        <p>CORPORATE CERTIFICATION</p>
        <h1>기업인증</h1>
    </div>

    <a class="up-btn" href="#">
        <img src="/public/images/up.png" alt="위로">
    </a>

    <a class="contact-btn" href="http://pf.kakao.com/_mASDn">
        <img src="/public/images/speech.png" alt="카톡채널">
    </a>

    <main id="container">
        <span class="section-title">| Corporate Certification</span>
        <span class="section-title" id="lab">| 기업부설연구소</span>
        <span class="section-title" id="venture">| 벤처/이노비즈/메인비즈</span>
        <span class="section-title" id="iso">| ISO</span>

    </main>

    <div id="footer2"></div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {

            if (window.location.hash) {
                const target = document.querySelector(window.location.hash);
                if (target) {
                    setTimeout(() => {
                        target.scrollIntoView({ behavior: "smooth", block: "start" });
                    }, 300);
                }
            }
        });
    </script>
    <script src="/public/js/hf.js"></script>
</body>

</html>