<footer>
    <div class="footer-btn">
        <p>정책자금, 기업인증을 <strong>한 번에 해결하는 원스톱 컨설팅!</strong></p>
        <a href="http://pf.kakao.com/_mASDn" class="footer-btn-link">무료 상담 신청하기</a>
    </div>
    <div class="footer-inner">
        <div class="footer-contact">
            <div class="contact-item">
                <h3 class="contact-label">대표전화</h3>
                <div class="contact-value">010.8488.1588</div>
            </div>
            <div class="contact-item">
                <h3 class="contact-label">Email</h3>
                <div class="contact-value">sungjin_g@naver.com</div>
            </div>
        </div>

        <hr class="footer-hr">

        <div class="footer-company">
            <div class="footer-policies">
                개인정보처리방침ㅣ이용약관ㅣ이메일무단수집거부
            </div>
            <div class="company-line">
                주식회사 성진글로벌 기업경영지원센터 &nbsp;&nbsp; <br class="mobile-only">(48520) 부산광역시 남구 신선로 410 동명대학교 국제산학협력관 210호 &nbsp;&nbsp; <br class="mobile-only"> 사업자등록번호:
                174-88-03233 &nbsp;&nbsp; <br class="mobile-only"> 대표자: 김수진
            </div>
            <div class="company-copyright">
                copyright&copy;2025 주식회사 성진글로벌 All rights reserved
            </div>
        </div>
    </div>
</footer>