<header>
  <nav class="container" id="mainNav">
    <div class="logo">
      <a href="/"><img id="log" src="/public/images/log.png" alt="성진글로벌 로고">기업경영지원센터</a>
    </div>

    <button class="hamburger" id="hamburgerBtn" aria-expanded="false" aria-label="메뉴 열기">☰</button>

    <div class="navlinks" id="navLinks">
      <div class="dropdown"><a href="/policy" data-menu="policy">정책자금</a></div>
      <div class="dropdown"><a href="/corporate" data-menu="corporate">기업인증</a></div>
      <div class="dropdown"><a href="/about" data-menu="about">회사소개</a></div>
      <div class="dropdown"><a href="/login">신청하기</a></div>
    </div>
    
    <div id="megaBar" aria-hidden="true">
      <div class="mega-column" data-menu="policy" style="width: 178px;">
        <a href="/policy.html#smallbiz">소상공인</a>
        <a href="/policy.html#smb">중소벤처기업진흥공단</a>
        <a href="/policy.html#guarantee">신용보증 및 기술보증</a>
      </div>
      <div class="mega-column" data-menu="corporate" style="width: 180px;">
        <a href="/corporate.html#lab">기업부설연구소</a>
        <a href="/corporate.html#venture">벤처/이노비즈/메인비즈</a>
        <a href="/corporate.html#iso">ISO</a>
      </div>
      <div class="mega-column" data-menu="about" style="width: 164px;">
        <a href="/about.html#ceo">인사말</a>
        <a href="/about.html#location">오시는길</a>
      </div>
      <div class="mega-column" style="width: 72px;">
      </div>
    </div>
  </nav>
</header>

<div class="menu-overlay"></div>