<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>성진글로벌 경영지원 서비스</title>
    <link rel="stylesheet"
        href="/estimate/public/css/iso.css?v=<?=filemtime($_SERVER['DOCUMENT_ROOT'].'/estimate/public/css/iso.css')?>">
    <link rel="stylesheet"
        href="/estimate/public/css/headerfooter.css?v=<?=filemtime($_SERVER['DOCUMENT_ROOT'].'/estimate/public/css/headerfooter.css')?>">
</head>

<body>
    <div id="header"></div>

    <div id="int">
        <p>SYSTEM AUTHENTICATION</p>
        <h1>시스템인증</h1>
    </div>

    <main id="container">
        <span class="section-title">| System Authentication</span>
        
    </main>

    <div id="end">
        <div class="content">
        </div>
    </div>

    <div id="footer"></div>

    <script src="/estimate/public/js/hf.js"></script>
</body>

</html>