<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>성진글로벌 경영지원 서비스</title>
  <link rel="stylesheet" href="/public/css/login.css">
  <link rel="stylesheet" href="/public/css/headerfooter.css">
</head>

<body>
  <div id="header"></div>
  <div id="int">
    <p>LOG IN</p>
    <h1>경영지원 신청 플랫폼 로그인</h1>
  </div>
  <main class="container">
    <div class="login-container">
      <h1>정책자금 신청 플랫폼 로그인</h1>
      <p>이메일로 간편하게 로그인하세요.</p>
      <br>

      <div class="login-buttons">
        <a href="/app/controllers/login.php"><button id="googleLogin" class="login-btn google">Google
            계정으로<br>로그인</button></a>
        <a href="/app/controllers/naver_login.php"><button id="naverLogin" class="login-btn naver">Naver
            계정으로<br>로그인</button></a>
      </div>
    </div>
  </main>
  <br><br><br><br><br><br>
  <div id="footer2"></div>
  <script src="/public/js/hf.js"></script>
</body>

</html>