<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>성진글로벌 경영지원 서비스</title>
  <link rel="stylesheet" href="/public/css/font.css">
  <link rel="stylesheet" href="/public/css/btn.css">
  <link rel="stylesheet" href="/public/css/headerfooter.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div id="header"></div>
  <a class="up-btn" href="#">
    <img src="/public/images/up.png" alt="위로">
  </a>

  <a class="contact-btn" href="http://pf.kakao.com/_mASDn">
    <img src="/public/images/speech.png" alt="카톡채널">
  </a>

  <main class="container">
    <div class="login-container">
      <p>이메일로 간편하게 로그인하세요.</p>
      <br>
      <div class="login-buttons">
        <a href="/app/controllers/login.php"><button id="googleLogin" class="login-btn google">Google
            계정으로<br>로그인</button></a>
        <a href="/app/controllers/naver_login.php"><button id="naverLogin" class="login-btn naver">Naver
            계정으로<br>로그인</button></a>
      </div>
    </div>
  </main>
  <br><br><br><br><br><br>
  <div id="footer2"></div>
  <script src="/public/js/hf.js"></script>
</body>

</html>