<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>성진글로벌 경영지원 서비스</title>
    <link rel="stylesheet"
        href="/public/css/policy.css">
    <link rel="stylesheet"
        href="/public/css/headerfooter.css">
</head>

<body>
    <div id="header"></div>

    <div id="int">
        <p>POLICY FUNDS</p>
        <h1>정책자금</h1>
    </div>

    <main id="container">
        <span class="section-title">| Policy Funds</span>
        
    </main>

    <div id="end">
        <div class="content">
        </div>
    </div>

    <div id="footer"></div>

    <script src="/public/js/hf.js"></script>
</body>

</html>